html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.single-line-ellipsis {
    white-space: nowrap; /* Keep the text on a single line */
    overflow: hidden; /* Hide text that goes beyond the width of the container */
    text-overflow: ellipsis; /* Add "..." to text that is cut off */
    max-width: 100%; /* Ensure the text container doesn't exceed its parent's width */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-subtle-gray {
    background-color: #f8f9fa; /* Bootstrap's gray-100 for a very light gray, or choose a subtle gray of your preference */
    color: #343a40; /* Bootstrap's gray-900 for nearly black text */
    border-color: #f8f9fa; /* Match the border to the background or choose a slightly darker gray for the border */
}

.btn-subtle-black {
    background-color: #343a40; /* Bootstrap's gray-900 for a dark gray (nearly black) */
    color: #ffffff; /* White text */
    border-color: #343a40; /* Match the border to the background */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-card {
    height: 300px; /* Adjust the height as needed */
    overflow: hidden; /* To hide overflowing content */
}

/*jefferson trying to get the cards to look right...*/
.product-card-jefferson {
    border: 1px solid #000; /* Outline */
    border-radius: 10px; 
    width: 300px; /* Minimum width */
    height: 380px; /* Fixed height */
    display: flex;
    flex-direction: column;
}
.header-text {
    display: inline-block; /* Makes the span respect the max-width property */
    max-width: 260px; /* Maximum text width before showing ellipsis */
    white-space: nowrap; /* Keep the text on a single line */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    vertical-align: top; /* Aligns the text with any inline elements like badges */
}

.product-image-jefferson {
    height: 240px; /* Fixed height for the image */
    object-fit: cover; /* Ensure the image covers the area well without stretching */
    border-top-left-radius: 10px; /* Maintain rounded corners */
    border-top-right-radius: 10px; /* Maintain rounded corners */
}
/*idk but not working*/
@media (max-width: 768px) {
    .product-card-jefferson {
        min-width: 100%; /* Cards take full width on smaller screens */
    }
}
.banner {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
.filters-container {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 15px;
    padding-top: 15px;
    background-color: #fff;
}
