@model string

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Result</h5>
                    <div class="alert alert-@ViewBag.AlertType">
                        @ViewBag.Message
                    </div>
                    <a href="@Url.Action("UserManagement", "Admin")" class="btn btn-primary">Return to User Management</a>
                </div>
            </div>
        </div>
    </div>
</div>
