@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<div class="card-1 m-1 p-1">
    <h4>
        @Model.ProductName
    </h4>
    <ul>
        <li>
            @Model.ProductDescription
        </li>
        <li>
            @Model.ProductPrice
        </li>
    </ul>
</div>
