@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel



<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Products">Shop Now</a>

            </div>
            <div class="col-md-6">
                <img src="~/img/homepage.png" />
                
            </div>
        </div>
    </div>
</div>

<div class="container">
   @*  <div class="row">
        @foreach (Product p in Model.Products)
        {
            <div class="col-md-4 col-lg-4 col-xl-4">
                <partial name="ProductSummary" model="p" />
            </div>
        }
    </div> *@
</div>


