@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel
@* @model Product *@

<style>
    .display-4 {
        color: #007bff;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .lead {
        color: #333;
        font-size: 1.5rem;
    }


</style>

<div class="jumbotron jumbotron-fluid bg-dark text-white mb-0">
    <div class="container-fluid p-0"> <!-- Use container-fluid and remove padding -->
        <div class="row no-gutters align-items-center"> <!-- Use no-gutters to remove spacing between columns -->
            <div class="col-md-5">
                <div class="p-md-5"> <!-- Add padding on md screens and above -->
                    <h1>Explore Lego Sets</h1>
                    <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="Home" asp-action="Products">Shop Now</a>
                </div>
            </div>
            <div class="col-md-7"> <!-- Update column size to 7 to make 60% on md screens -->
                <img src="~/img/homepage.png" class="img-fluid hero-image" />
            </div>
        </div>
    </div>
</div>



<div class="row mt-4">
    <div class="col-12 text-center mb-5">
        <h1 class="display-4">🔥 What's Hot 🔥</h1>
        <p class="lead">Check out the trending products!</p>
    </div>
    @foreach (Product p in Model.Products)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="p-5">
                <partial name="ProductSummary" model="p" />
            </div>
        </div>
    }
</div>



