@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel

<div class="navbar-brand">
    <h1>
        Amazon but not.
    </h1>
    <br />
    <h3>
        From the mind of El Hefferson
    </h3>
</div>

<div class="row">
    <div class="col-3">
        Add filtering here
    </div>
    <div class="col-9">
        See all products below
    </div>
</div>

<div class="row">
    <div class="col-3">
        *Filtering*
    </div>
    <div class="col-9">
        @foreach (Product p in Model.Products) {
            <partial name="ProductSummary" model="p" />
        }
    </div>
</div>