@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel


<div class="banner">
    Shopping
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <!-- Column for the filter component -->
        <vc:filter /> <!-- Use the tag helper for your filter component -->
    </div>  
    <div class="col-lg-9 col-md-8 col-sm-12">
        <!-- Column for the product list -->
        <div class="row">
            @foreach (Product p in Model.Products)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <partial name="ProductSummary" model="p" />
                </div>
            }
        </div>
    </div>
</div>
<div class="row justify-content-end mt-4">
    <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="text-end">
            @{
                if (Model.PaginationInfo.CurrentPage == 0)
                {
                    Model.PaginationInfo.CurrentPage = 1;
                }
            }
            <div page-model="@Model.PaginationInfo" page-action="Products" page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-dark" page-url-projectType="@Model.CurrentCategory" class="btn-group m-1"></div>
        </div>
    </div>
</div>
