@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel


<div class="banner">
    Shopping
</div>
<div class="row">
    <div class="col-md-3">
        <!-- Column for the filter component -->
        <vc:filter /> <!-- Use the tag helper for your filter component -->
    </div>
    <div class="col-md-9">
        <!-- Column for the product list -->
        <div class="row">
            @foreach (Product p in Model.Products)
            {
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <partial name="ProductSummary" model="p" />
                </div>
            }
        </div>
    </div>
</div>